<form method="POST">

{% csrf_token %}

<label>First Name</label>
<input type="text" name="firstname">

<br><br>

<label>Surname</label>
<input type="text" name="surname">

<br><br>

<label>Email</label>
<input type="email" name="email">

<br><br>

<label>Date of Birth</label>
<input type="date" name="date_of_birth">

<br><br>

<label>Department</label>

<select name="department">

{% for department in departments %}

<option value="{{ department.id }}">
    {{ department.name }}
</option>

{% endfor %}

</select>

<br><br>

<button>
Save Student
</button>

</form>